<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title -->
    <title>Chippr Chat</title>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="./styles/app.css">
    <link rel="stylesheet" href="./styles/form.css" />
</head>

<body>
    <main>

      <!-- Chat Form Wrapper -->
        <section>

          <!-- Chat Form Title -->
            <h1>Chippr chat</h1>
            <ul></ul>

            <!-- Chat Form -->
            <form>
              <input placeholder="Typ bericht..." type="text" autocomplete="off" />
              <button></button>
            </form>
        </section>
    </main>

    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/form.js"></script>
</body>
</html>